{{! home.hbs }}
{{#extend "layout"}}
  {{#content "body"}}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="w3-row-padding">
        {{#each blogs}}
        {{#if @first}}
        <div class="featured">
            <div class="card">
                <img src="images/{{this.image}}" alt="Blog Image">
                <div class="card-container">
                    <h2><a href="/mma">{{this.title}}</a></h2>
                    {{{this.body}}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="w3-third">
            <div class="card">
                <img src="images/{{this.image}}" alt="Blog Image">
                <div class="card-container">
                    <h2><a href="/mma">{{this.title}}</a></h2>
                    {{{this.body}}}
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
  {{/content}}
{{/extend}}