<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <style>
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }
            .card {
                background: #fff;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin: 16px;
                overflow: hidden;
                text-align: left;
                width: 100%;
            }
            .card img {
                width: 100%;
            }
            .card-container {
                padding: 16px;
            }
            .w3-row-padding {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 24px;
            }
            .w3-third {
                flex: 0 0 30%;
                max-width: 30%;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        
        <div id="page">
            {{> header}}
        
            <div class="container">
                <h1 style="color: black" aria-current="page">MMA</h1>
                <p style="color:black" aria-current="page">All things combat sports!</p>
                <div class="w3-row-padding">
                    {{#each blogs}}
                    <div class="w3-third">
                        <div class="card">
                            <img src="images/{{this.image}}" alt="Blog Image">
                            <div class="card-container">
                                <h2 style="text-align: center"><a href="/mma">{{this.title}}</a></h2>
                                {{{this.body}}}
                                <h2 style="text-align: right">-{{this.author}}</h2>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        
        </div>
    </body>
</html>
